#about {
    display: grid;
    grid-template-columns: 50% 1fr;
    align-items: center;
    height: 700px;
    padding: 5rem
}

#left {
    display: flex;
    justify-content: center;
}

#exp {
    display: grid;
    grid-template-columns: 150px 1fr;
    padding-top: 2em;
}

#text {
    color: black;
}

h3 {
    font-style: italic;
}

#description {
    text-align: justify;
}

#description h2,
span {
    font-family: italic;
    font-weight: bold;
}


/* first mobile */

@media screen and (max-width: 448px) {
    #about {
        padding: 1rem;
        grid-template-columns: 1fr;
    }
    #exp {
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
    #left {
        display: none;
    }
}


/* tablette taille */

@media screen and (max-width: 768px) {
    #about {
        padding: 1rem;
        grid-template-columns: 2 1fr;
    }
    #exp {
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}