<link rel="stylesheet" href="/css/about.css">

<div id="about" style="display: flex; height:100%; min-height: 600px; align-items: center;">

  <div style="flex:1">
    <div></div>
    <img src="/images/5-removebg-preview.png" alt="">
  </div>


  <div  id="description">

    <h1>À propos de moi</h1>
    <h3>
      Le plus lourde fardeau, c'est d'exister sans vivre
    </h3>
    <p>
      Passionné par le numérique depuis mon enfance.
      En commençant au Sénégal, j'ai suivi pendant 2 ans une formation dans le domaine
      de l'informatique et j’ai appris pendant cette formation les bases de l'informatique
      
      et j’ai découvert le développement web. J’ai développé des compétences en HTML5, CSS3,
      
      PHP et JavaScript. Quand je suis arrivé en France, j'ai suivi le Parcours découverte
      
      des métiers du numérique au Grêta. J’ai travaillé mon projet professionnel et surtout
      j’ai confirmé mon choix : devenir développeur web. J’ai décidé de suivre une formation
      Intensive de 3 mois et demi Chez Webforce3 et une formation continue de 8 mois au sein
      
      du Grêta pour un Titre professionnel(CDA), dont 2 mois de stage. Donc Je souhaite
      
      continuer dans cette voie par le biais de l'alternance ou un post <span>

        Developpeur Full Stack Js</span>.
      

    </p>
    <div id="exp">

      <h2> UlTeamCode</h2>


      <div id="title">
        <h3>Co-Fondateur de UlTeamCode</h3>
        <p id="text">

          J'interviens de la conception à la realisation du site web


        </p>
      </div>



    </div>

  </div>
</div>