<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>

    <div class="contact-wrapper">
        <div class="contact-left">
            <h1 class="contact-title">Discutons de votre projet</h1>
            <div class="contact-info">
                <div class="contact-info-item">
                    <a href="tel:O7.53.58.87.59">
                        <img src="/images/phone.png" alt="" class="contact-icon" /> O7.53.58.87.59
                    </a>
                </div>
                <div class="contact-info-item">
                    <a href="mailto:ousseynoufofana15@gmail.com">
                        <img class="contact-icon" src="/images/email.png" alt="" /> ousseynoufofana15@gmail.com
                    </a>
                </div>
                <div class="contact-info-item">
                    <img class="contact-icon" src="/images/address.png" alt="" /> Paris, France
                </div>
            </div>
        </div>
        <div class="contact-right">

            <form id="form">
                <div class="field">
                    <input type="text" id="name" class="form-control" name="user_name" required />
                    <label for="name" class="form-control-placeholder">
                            Nom Complet
                        </label>
                </div>


                <div class="field">

                    <input type="email" id="email" class="form-control" name="user_email" required />
                    <label for="email" class="form-control-placeholder">
                            Email
                        </label>
                </div>
                <div class="field">
                    <textarea rows="5" id="message" class="form-control" name="message" required> </textarea>
                    <label for="message" class="form-control-placeholder">
                         Votre message Message
                        </label>
                </div>

                <button type="submit" value="Envoyer message"> Envoyer</button>

            </form>
        </div>
    </div>


</body>
<script src="/js/formulaire.js" "></script>
</html>