<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <section>
        <div id="left">
            <h4>Hello, Mon nom est </h4>
            <h1>Ousseynou Fofana</h1>
            <h3 id="title">Developpeur FullStack <span>Junior</span></h3>
            <p>Passionné par l'informatique le numérique en generale depuis mon enfance. je transforme votre maquette .....
            </p>
            <div id="lien">
                <a href="#">Telecharger Cv</a>
                <a href="/contact" onclick="route()">Parlez moi de votre projet</a>
            </div>
        </div>
        <div id="right">
            <img src="/images/me.png" alt="">
        </div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="/js/script.js"></script>

</html>