<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/portfolio.css" />
</head>

<body>
    <div id="portfolio">
        <h1>Creer et inspirer par Ousseynou</h1>
        <div id="portfolio-container">
            <div class="portfolio-item">
                <div class="p-browser">
                    <div class="p-circle"></div>
                    <div class="p-circle"></div>
                    <div class="p-circle"></div>
                </div>

                <a href="https://portfolio-chakraui.vercel.app/">
                    <img src="/images/screencapture-portfolio-chakraui-vercel-app-2022-06-08-19_42_09.png" alt="" />
                </a>
            </div>
            <div class="portfolio-item">
                <div class="p-browser">
                    <div class="p-circle"></div>
                    <div class="p-circle"></div>
                    <div class="p-circle"></div>
                </div>

                <a href="https://github.com/ousseynou8/top_gaming_ouss_front">
                    <img src="/images/topgaming.fbd4afffbda89562f2d6.png" alt="" />
                </a>
            </div>
            <div class="portfolio-item">
                <div class="p-browser">
                    <div class="p-circle"></div>
                    <div class="p-circle"></div>
                    <div class="p-circle"></div>
                </div>

                <a href="https://chatbot-rouge.vercel.app/">
                    <img src="/images/screencapture-chatbot-rouge-vercel-app-2022-06-08-20_25_06.png" alt="" />
                </a>
            </div>
            <div class="portfolio-item">
                <div class="p-browser">
                    <div class="p-circle"></div>
                    <div class="p-circle"></div>
                    <div class="p-circle"></div>
                </div>
                <a href="https://doumouni.monagenceethique.com/">
                    <img src="/images/stage.cad2589a1ad80e819e6f.png" alt="" />
                </a>
            </div>
            <div class="portfolio-item">
                <div class="p-browser">
                    <div class="p-circle"></div>
                    <div class="p-circle"></div>
                    <div class="p-circle"></div>
                </div>
                <a href="https://librairie-zeta.vercel.app/">
                    <img src="/images/librairie.a19ed79a156845095078.png" alt="" />
                </a>
            </div>
        </div>
    </div>
</body>

</html>